{% load i18n %}

<div id="{{ widget.attrs.id }}_wrapper" class="s3-file-uploader">
  {% if widget.is_initial %}
  <p class="file-upload-current">
    {% trans "Currently" %}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
    <span class="clearable-file-input">
      <input name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" type="checkbox" {% if widget.attrs.disabled %} disabled{% endif %} />
      <label for="{{ widget.checkbox_id }}">{% trans "Clear" %}</label>
    </span>
    {% endif %}
  </p>
  {% endif %}

  {% csrf_token %}
  {# The actual input that stores the signed value #}
  <input name="{{ widget.name }}" type="hidden" {% include "django/forms/widgets/attrs.html" %} />

  {# The input for FilePond #}
  <input type="file" class="filepond-input-source" />
</div>
