{% load static i18n %}
{% load render_bundle webpack_static from webpack_loader %}

<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html class="opacity-0" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Nicolas Contiero" />
    <link type="image/svg+xml" href="{% webpack_static 'assets/favicon.svg' %}" rel="icon" />

    <script id="initialLanguageScript">
      const LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>
    {% block head %}
    <script id="pageErrorScript">
      const pageError = null;
    </script>
    {% endblock head %}
    {% render_bundle "main" "css" %}
    {% render_bundle "main" "js" attrs="defer" %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
